@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');

/*---My Colors---*/
:root {
    --blue: #0081CF;
    --black: #3E4756;
    --white: #F0FAFF;
    --grey: #A1ACBD;
    --red:#DA4A49;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #ccc;
    height: 100%;
}
/*----  Navbar  ----*/

.navbar {
    top: 0;
    position: fixed;
    background: #eee;
    display: grid;
    width: 100%;
    min-height: 50px;
    text-align: center;
    justify-items: center;
    align-items: center;
    z-index: 9999;
}
.navbar .wrapper .searchBar {
outline: none;
width: 500px;
height: 25px;
border-radius: 5px;
font-size: 20px;
text-align: center;
padding: 1rem;
border: none;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin: 20px;
    margin-top: 70px;
}
.card-body{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
    max-width: 380px;
    min-height: 510px;
}

.card {
    transition: ease-in-out 300ms;
}

.card:hover{
    transform: scale(1.02);
    border-radius: 10px;
}
.card-column {
    text-align: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-body .card-title{
    color: rgb(104, 104, 104);
    font-size: 22px;
    text-align: center;
    background-color: #eee;
    border-radius: 7px;
    margin-top: -10px;
    width: 100%;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.card-body span {
    margin-bottom: 5px;
}

.card-column h5 {
    display: grid;
    font-size: 17px;
    color:var(--red); 
}

.card-column h5 span{
    font-size: 20px;
    color: white;
}

.card-column span a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.card {
    animation: ani 0.5s normal linear;
}

@keyframes ani{
0%{transform: scale(0.0);}
70%{transform: scale(1.1);}
100%{transform: scale(1);}
}